<!-- This example requires Tailwind CSS v2.0+ -->
<div 
x-data="{ 
	showCartDrawer: false,
	updateCart() {
		//send fetch request
		fetch('/?view=cart-drawer')
		.then(response => response.text())
		.then(cartData => {
			$refs.cart_content.innerHTML = cartData;
		})
	}
 }"
x-show="showCartDrawer"
@cart-updated.window="updateCart"
@toggle-cart.window="showCartDrawer = !showCartDrawer"
x-cloak
class="z-50 fixed inset-0 overflow-hidden" aria-labelledby="slide-over-title" role="dialog" aria-modal="true">
	<div class="absolute inset-0 overflow-hidden">
	  <!--
		Background overlay, show/hide based on slide-over state.
  
		Entering: "ease-in-out duration-500"
		  From: "opacity-0"
		  To: "opacity-100"
		Leaving: "ease-in-out duration-500"
		  From: "opacity-100"
		  To: "opacity-0"
	  -->
	  <div class="absolute inset-0 bg-gray-500 bg-opacity-75 transition-opacity" aria-hidden="true"></div>
	  <div class="pointer-events-none fixed inset-y-0 right-0 flex max-w-full pl-10">
		<!--
		  Slide-over panel, show/hide based on slide-over state.
  
		  Entering: "transform transition ease-in-out duration-500 sm:duration-700"
			From: "translate-x-full"
			To: "translate-x-0"
		  Leaving: "transform transition ease-in-out duration-500 sm:duration-700"
			From: "translate-x-0"
			To: "translate-x-full"
		-->
		<div 
		x-show="showCartDrawer"
		x-transition:enter="transform transition ease-in-out duration-500"
		x-transition:enter-start="translate-x-full opacity-0"
		x-transition:enter-end="translate-x-0 opacity-100"
		x-transition:leave="transform transition ease-in-out duration-500"
		x-transition:leave-start="translate-x-0"
		x-transition:leave-end="translate-x-full opacity-0"
		class="pointer-events-auto relative w-screen max-w-md">
		  <!--
			Close button, show/hide based on slide-over state.
  
			Entering: "ease-in-out duration-500"
			  From: "opacity-0"
			  To: "opacity-100"
			Leaving: "ease-in-out duration-500"
			  From: "opacity-100"
			  To: "opacity-0"
		  -->
		  <div class="absolute top-0 left-0 -ml-8 flex pt-4 pr-2 sm:-ml-10 sm:pr-4">
			<button x-on:click="showCartDrawer = false" type="button" class="rounded-md text-gray-300 hover:text-white focus:outline-none focus:ring-2 focus:ring-white">
			  <span class="sr-only">Close panel</span>
			  <!-- Heroicon name: outline/x -->
			  <svg class="h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
				<path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12" />
			  </svg>
			</button>
		  </div>
  
		  <div class="flex h-full flex-col overflow-y-scroll bg-white py-6 shadow-xl">
			<div class="px-4 sm:px-6">
			  <h2 class="text-lg font-medium text-gray-900" id="slide-over-title"><a href="{{ routes.cart_url }}">Cart<span @cart-products.window="Elizabeth.getCartProducts()" id="cartProducts"></span></a></h2>
			</div>
			<div class="relative mt-6 flex-1 px-4 sm:px-6">			
			  <div class="absolute inset-0 px-4 sm:px-6">
				<div class="h-full border-2 border-dashed border-gray-200 text-center overflow-y-auto" aria-hidden="true" x-ref="cart_content">
					<form action="{{ routes.cart_url }}" method="post" class="flex flex-col h-full">
						{% for item in cart.items %}
							<div class="cart-drawer-product p-4 relative">
								<a class="block" href="{{ item.url }}">
									<img class="mx-auto" src="{{ item.image | image_url: width: 300 }}" alt="{{ item.image.alt }}">
									<h3>{{ item.title }}</h3>
									<p>{{ item.original_price | money }}</p>									
								</a>
								<div class="cart-drawer-buttons" x-data="{ qty: {{ item.quantity }} }" >
									<button 
									@click.debounce="Elizabeth.updateQuantity({{ forloop.index }}, qty=qty-1)"
									type="button" class="bg-white hover:bg-gray-100 text-gray-800 font-semibold py-2 px-4 border border-gray-400 rounded shadow">
										-
									</button>
									<input class="bg-white hover:bg-gray-100 text-gray-800 font-semibold py-2 px-4 border border-gray-400 rounded shadow w-12 text-center" type="text" name="quantity" value="{{ item.quantity }}">
									<button 
									@click.debounce="Elizabeth.updateQuantity({{ forloop.index }}, qty=qty+1)"
									type="button" class="bg-white hover:bg-gray-100 text-gray-800 font-semibold py-2 px-4 border border-gray-400 rounded shadow">
										+
									</button>
								</div>
								<button @click="Elizabeth.updateQuantity({{ forloop.index}}, 0)" title="Remove {{ item.product.title }}" type="button" class="absolute top-4 right-14">{% render 'icon-close' %}</button>								
							</div>
							{% unless forloop.last %}
								<hr class="my-3">
							{% endunless %}
						{% endfor %}

						{% if cart.item_count < 1   %}
						<div class="bg-blue-100 border-t border-b border-blue-500 text-blue-700 px-4 py-3" role="alert">
							<p class="font-bold">The cart is empty!</p>
							<p  x-on:click="$dispatch('toggle-cart')" class="text-sm cursor-pointer">Continue Shopping </p>
						  </div>
						{% endif %}
						<div class="cart-drawer-footer mt-auto">
							<div class="cart-drawer-totals">
								<p class="hover:bg-gray-100 text-gray-800 font-semibold m-3">Discount: {{ cart.total_discount | money }}</p>
								<p class="hover:bg-gray-100 text-gray-800 font-semibold m-3">Total Price: {{ cart.total_price | money }}</p>
							</div>
							<button type="submit" name="checkout" class="bg-gray-900 text-white hover:bg-gray-700 p-2 block w-full">Checkout</button>
						</div>						
					</form>
				</div>
			  </div>
			  <!-- /End replace -->
			</div>
		  </div>
		</div>
	  </div>
	</div>
  </div>