<h3 class="py-3 font-bold">Sort By:</h3>
<div class="collection-sort" 
x-data="{
  loading: false,
  sort: '{{ sort_by }}',
  sortCollection(){
	this.loading = true;
	fetch('/collections/{{ collection.handle }}?sort_by=' + this.sort)
	.then(response => response.text())
	.then(data => {

	  let html_div = document.createElement('div');
	  html_div.innerHTML = data;
	  let html_dom = html_div.querySelector('#productGrid').innerHTML;

	  document.querySelector('#productGrid').innerHTML = html_dom;
	  console.log('data', html_dom);
	  history.replaceState(null, null, '?sort_by=' + this.sort);
	})
	.catch(error => console.error('Error:', error))
	.finally(()=> this.loading = false);
  }
}">
	<select id="sort-by" x-model="sort" @change="sortCollection()" class="border border-1 p-1 w-full">             
		{% for option in collection.sort_options %}
		  <option value="{{ option.value }}" {% if option.value == sort_by %}selected="selected"{% endif %}>
			{{ option.name }}
		  </option>
		{% endfor %}
	  </select>
	  <div class="loader absolute grid place-content-center inset-0 bg-black/20 z-10" x-show="loading">
		<div class="w-16 h-16 border-4 border-blue-400 border-dashed rounded-full animate-spin" style="border-top-color:transparent"></div>
	  </div>
</div>

<h3 class="py-2 mt-3 font-bold border-b-2">
	Filters:
</h3>
<div class="active-filters my-3 flex flex-wrap" 
x-data="{
	filterRemoved() {
		console.log('filter removed');
	}
}"
@filter-removed.window="filterRemoved"
>
	<a class="m-1 py-1 px-4 rounded-full bg-slate-400 text-white" href="{{ collection.url }}?sort_by={{ collection.sort_by }}" class="active-filters__clear">Clear all</a>

	{%- for filter in collection.filters -%}
	  {%- if filter.type == "price_range" -%}
		{%- if filter.min_value.value != nil or filter.max_value.value != nil -%}
		  <a class="py-1 px-4 rounded-full bg-slate-300 text-white active-filters__remove-filter flex items-center" href="{{ filter.url_to_remove }}">
			{%- assign min_value = filter.min_value.value | default: 0 -%}
			{%- assign max_value = filter.max_value.value | default: filter.range_max -%}
			{{ min_value | money }} - {{ max_value | money }} X
		  </a>
		{%- endif -%}
	  {%- else -%}
		{%- for filter_value in filter.active_values -%}
		  <a @click="$dispatch('filter-removed');" class="m-1 py-1 px-4 rounded-full bg-slate-300 text-white active-filters__remove-filter flex items-center" href="{{ filter_value.url_to_remove }}">
			{{ filter.label }}: {{ filter_value.label }} <span> {% render 'icon-close', class: 'w-2' %} </span>
		  </a>
		{%- endfor -%}
	  {%- endif- %}
	{%- endfor -%}
  </div>
<div  x-data="{
	loading: false
}" 
@filter-updated.window="$nextTick(()=> {
let form = $refs.filter_form;
const queryString = new URLSearchParams(new FormData(form)).toString()
console.log('filter-updated', queryString);

	loading = true;
	fetch('/collections/{{ collection.handle }}?' + queryString)
	.then(response => response.text())
	.then(data => {

	let html_div = document.createElement('div');
	html_div.innerHTML = data;
	let html_dom = html_div.querySelector('#productGrid').innerHTML;

	document.querySelector('#productGrid').innerHTML = html_dom;
	console.log('data', html_dom);
	history.replaceState(null, null, '?' + queryString);
	})
	.catch(error => console.error('Error:', error))
	.finally(()=> loading = false);
})">
	<form class="filter-form divide-y" x-ref="filter_form">
		<div class="loader absolute grid place-content-center inset-0 bg-black/20 z-10" x-show="loading">
			<div class="w-16 h-16 border-4 border-blue-400 border-dashed rounded-full animate-spin"
				style="border-top-color:transparent"></div>
		</div>
		{%- for filter in collection.filters -%}
		<details class="filter-group py-2">
			<summary class="filter-group-summary flex items-center justify-between">
				<div>
					<span class="font-medium">{{ filter.label }}</span>

					{%- if filter.active_values.size > 0 -%}
					<span>({{ filter.active_values.size }})</span>
					{%- endif -%}
				</div>
				<span>{% render 'icon-dropdown', class: 'w-4' %}</span>
			</summary>

			<div class="filter-group-display">
				<div class="filter-group-display__header">
					<span class="filter-group-display__header-selected">{{ filter.active_values.size }} selected</span>

					{%- if filter.active_values.size > 0 -%}
					<a href="{{ filter.url_to_remove }}" class="filter-group-display__header-reset">Reset</a>
					{%- endif -%}
				</div>

				{%- case filter.type -%}
				{%- when 'boolean' or 'list' -%}
				<ul class="filter-group-display__list">
					{%- for filter_value in filter.values -%}
					<li class="filter-group-display__list-item flex justify-between">
						<label for="Filter-{{ filter.param_name }}-{{ forloop.index }}">
							<input @change="$dispatch('filter-updated')" type="checkbox"
								name="{{ filter_value.param_name }}" value="{{ filter_value.value }}"
								id="Filter-{{ filter.param_name }}-{{ forloop.index }}" {% if filter_value.active
								-%}checked{%- endif %} {% if filter_value.count==0 and filter_value.active==false
								-%}disabled{%- endif %}><span class="ml-4">{{ filter_value.label }}</span></label>
						<span>({{ filter_value.count }})</span>
					</li>
					{%- endfor -%}
				</ul>

				<div class="filter-group-display__submit">
					<input class="m-1 py-1 px-4 rounded-full bg-green-200 text-white cursor-pointer" type="submit"
						value="Apply">
				</div>
				{%- when 'price_range' -%}
				<div class="filter-group-display__price-range">
					<div class="filter-group-display__price-range-from">
						<span>{{ cart.currency.symbol }}</span>

						<input name="{{ filter.min_value.param_name }}" id="Filter-{{ filter.min_value.param_name }}" {%
							if filter.min_value.value -%}
							value="{{ filter.min_value.value | money_without_currency | replace: ',', '' }}" {%- endif
							%} type="number" placeholder="0" min="0"
							max="{{ filter.range_max | money_without_currency | replace: ',', '' }}">

						<label for="Filter-{{ filter.min_value.param_name }}">From</label>
					</div>
					<div class="filter-group-display__price-range-to">
						<span>{{ cart.currency.symbol }}</span>

						<input name="{{ filter.max_value.param_name }}" id="Filter-{{ filter.max_value.param_name }}" {%
							if filter.max_value.value -%}
							value="{{ filter.max_value.value | money_without_currency | replace: ',', '' }}" {%- endif
							%} type="number"
							placeholder="{{ filter.range_max | money_without_currency | replace: ',', '' }}" min="0"
							max="{{ filter.range_max | money_without_currency | replace: ',', '' }}">

						<label for="Filter-{{ filter.max_value.param_name }}">To</label>
					</div>
				</div>

				<div class="filter-group-display__submit">
					<input class="m-1 py-1 px-4 rounded-full bg-green-200 text-white cursor-pointer" type="submit"
						value="Apply">
				</div>
				{%- endcase -%}
			</div>
		</details>
		{%- endfor -%}
	</form>
</div>
  