<div class="relative bg-white" x-data="{ mobileMenuOpen: false, searchBarOpen: false }" x-cloak>
    <div class="mx-auto px-4 sm:px-6">
        <div class="flex justify-center items-center py-6 md:justify-start md:space-x-10">
            <!-- STORE NAME / STORE LOGO -->
            <div class="flex justify-start lg:flex-1 truncate">
               <a href="/"><h1 class="text-xl font-bold truncate">{{ shop.name }}</h1></a>
            </div>
            <!-- NAVIGATION MENU -->

            <div class="-mr-2 -my-2 ml-3 md:hidden">
                <button class="bg-white p-2 inline-flex items-center justify-center focus:outline-none" type="button" x-on:click="mobileMenuOpen = true">
                    {% render 'icon-hamburger' %}
                </button>
            </div>
            <nav class="hidden md:flex space-x-10">

                {% comment%}
				//Case 1: Menu from Customizer
				{% assign mainmenu = section.settings.menu %}
				{% for link in mainmenu.links %}
				{% endfor %}

				//Case 2: Menu from Customizer
				{% for link in section.settings.menu.links %}
				{% endfor %}

				//Case 3: Menu from Customizer
				{% for link in linklists[section.settings.menu].links %}
				{% endfor %}

				//Case 4: Menu from Customizer
				{% assign mm = section.settings.menu %}
				{% for link in linklists.mm.links %}
				{% endfor %}

				//Case 5: Use Menu Handle
				{% for link in linklists.main-menu.links %}
				{% endfor %}
				{% endcomment %}


                {% for link in linklists[section.settings.menu].links %}

                    {% if link.links != blank %}
                        {% assign link_handle = link.handle | replace: '-', '_' %}
                        <div class="relative"  x-data="{ {{ link_handle }}: false }">
                            <a  href="{{ link.url }}"                             
                                x-on:mouseenter="{{ link_handle }} = true"
                                x-on:mouseleave="{{ link_handle }} = false"                                                            
                                class="inline-flex items-center font-medium"
                            >
                                {{ link.title }}
                                {% render 'icon-dropdown' %}
                            </a>
                            <div 
                            x-on:mouseenter="{{ link_handle }} = true" 
                            x-on:mouseleave="{{ link_handle }} = false"                           
                            x-transition:enter="transition ease-out duration-200"
                            x-transition:enter-start="opacity-0 translate-y-0"
                            x-transition:enter-end="opacity-100 translate-y-0"
                            x-transition:leave="transition ease-out duration-200"
                            x-transition:leave-start="opacity-0 translate-y-0"
                            x-transition:leave-end="opacity-0 translate-y-0"
                            x-show="{{ link_handle }}" 
                            class="absolute z-10 -ml-5 transform px-2 w-48 sm:px-0 lg:ml-0 lg:left-1/2 lg:-translate-x-1/2 shadow-lg ring-black ring-opacity-10"
                            >
                                
                                    {% for childlink in link.links %}
                                    {% assign childlink_handle = childlink.handle | replace: '-', '_' %}
                                    <div 
                                    x-data="{ {{ childlink_handle }}: false }" 
                                    class="relative grid bg-white">                                      
                                            <a 
                                            x-on:mouseenter="{{ childlink_handle }} = true"
                                            x-on:mouseleave="{{ childlink_handle }} = false" 
                                            href="{{ childlink.url }}" class="p-3 flex items-center justify-between hover:bg-slate-200">
                                                <div class="ml-4">
                                                    <div class="text-gray-900 text-base font-medium">
                                                        <span class="{% if childlink.active %}text-red-500{% endif %}">{{ childlink.title }}</span>
                                                    </div>
                                                </div>
                                                {% if childlink.links != blank %}
                                                   {% render 'icon-right' %}
                                                {% endif %}
                                            </a>
                                            <div 
                                            x-on:mouseenter="{{ childlink_handle }} = true"
                                            x-on:mouseleave="{{ childlink_handle }} = false" 
                                            x-show="{{ childlink_handle }}"
                                            class="absolute top-0 left-full z-50 w-48 bg-white shadow-xl ring-black ring-opacity-10">
                                            <div class="">
                                                {% for grandchildlink in childlink.links %}   
                                                <a class="font-medium p-3 flex items-center justify-between hover:bg-slate-200{% if grandchildlink.active %} text-red-500{% endif %}" href="{{ grandchildlink.url }}">{{ grandchildlink.title }}</a>                                         
                                                {% endfor %}
                                            </div>
                                            </div>
                                       
                                    </div>
                                    {% endfor %}
                                
                            </div>
                        </div>
                    {% else %}
                        <a href="{{ link.url }}" class="text-base text-gray-900 hover:text-gray-700 font-medium">{{ link.title }}</a>
                    {% endif %}
                {% endfor %}
            </nav>
            <!-- CART BUTTON / ACCOUNT LINKS IF ENABLED -->
            <div class="hidden md:flex items-center justify-end md:flex-1 space-x-5">
                <button class="whitespace-nowrap text-base text-gray-500 hover:text-gray-900" type="button" x-on:click="searchBarOpen = true">{% render 'icon-search'
					%}</button>
                <a 
                x-on:click="$dispatch('toggle-cart')"
                class="whitespace-nowrap text-base text-gray-500 hover:text-gray-900 cursor-pointer">{% render
					'icon-shopping-bag' %}</a>

                {% if shop.customer_accounts_enabled %}
                    {% if customer %}
                        <a class="text-base text-gray-500 hover:text-gray-900" href="/account">Account</a>
                        {{ 'Log Out' | customer_logout_link }}
                    {% else %}
                        {{ ' Log in' | customer_login_link }}
                        {{ 'Register' | customer_register_link }}
                    {% endif %}
                {% endif %}
            </div>

            <!-- Mobile Menu Container -->
            <div class="absolute z-10 top-0 inset-x-0 p-2 transform origin-top-left md:hidden" x-show="mobileMenuOpen">
                <div class="shadow-lg rounded-lg ring-1 ring-black ring-opacity-5 bg-white w-full">
                    <div class="p-5 divide-y-2 divide-gray-50">
                        <!-- Mobile Menu Header Title -->
                        <div class="flex items-center justify-between pb-3">
                            <div>
                                <h1 class="text-lg text-gray-500">
                                    {{ section.settings.mobile_menu_title }}
                                </h1>
                            </div>

                            <div class="-mr-2">
                                <button class="bg-white rounded-md p-2 text-gray-500" type="button" x-on:click="mobileMenuOpen = false">
                                    {% render 'icon-close' %}
                                </button>
                            </div>
                        </div>
                        <!-- Navigation links for mobile menu -->
                        <div class="pt-3">
                            <nav class="grid gap-y-7">
                                {% for link in linklists[section.settings.menu].links %}
                                    {% if link.links != blank %}
                                        {% assign mobile_link_handle=link.handle | replace: '-' , '_' %}
                                        <div class="relative" x-data="{ {{ mobile_link_handle }}: false}">
                                            <button x-on:click="{{ mobile_link_handle }} = ! {{ mobile_link_handle }}" class="text-base text-gray-500 hover:text-gray-900 flex items-center justify-between w-full">
                                                <div class="">{{ link.title }}</div>
                                                {% render 'icon-dropdown' %}
                                            </button>
                                            <div x-show="{{ mobile_link_handle }}" class="grid">
                                                {% for childlink in link.links %}
                                                    <a href="{{ childlink.url }}" class="-m-3 p-3 mt-2 flex items-center rounded-md text-gray-500 hover:text-gray-900 hover:bg-gray-50">
                                                        <span class="ml-3">{{ childlink.title }}</span>
                                                    </a>
                                                {% endfor %}
                                            </div>
                                        </div>
                                    {% else %}
                                        <a href="{{ link.url }}">{{ link.title }}</a>
                                    {% endif %}
                                {% endfor %}
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="w-full absolute top-0 bg-white border" x-show="searchBarOpen">
		<button type="button" x-on:click="searchBarOpen = false" class="absolute top-0 right-0 mr-5 mt-5 text-gray-500">{% render 'icon-close' %}</button>
        <div class="h-40 flex justify-center items-center">
			<form action="{{ routes.search_url }}" method="get" class="flex-auto">
				<div class="relative text-gray-500 px-10 border">
					<input type="search" name="q" id="" placeholder="Search" class="w-full bg-white h-10 px-4 pr-10 rounded-full text-sm focus:outline-none">
					<button type="submit" class="absolute right-0 top-0 mt-2 mr-2 md:mr-20">
						{% render 'icon-search' %}
					</button>
				</div>
			</form>
		</div>
    </div>
</div>


{% schema %}

{
    "name": "Header",
    "tag": "header",
    "settings": [
        {
            "type": "text",
            "id": "mobile_menu_title",
            "label": "Mobile Menu Title"
        }, {
            "type": "link_list",
            "id": "menu",
            "default": "main-menu",
            "label": "Heading Navigation Menu"
        }
    ]
}

{% endschema %}