<div class="py-8">
    {% paginate blog.articles by section.settings.number_of_blog_posts %}
        <h1 class="text-center text-3xl">{{ blog.title }}</h1>

        <div class="max-w-6xl mx-auto">
            <div class="grid grid-cols-1 md:grid-cols-3 gap-4">
                {% for article in blog.articles %}
                    <div class="w-full py-6 px-3">
                        <div class="flex flex-col bg-white shadow-xl rounded-lg overflow-hidden h-full">
                            {% if article.image != blank %}
                                <img class="w-full h-80 object-cover" src="{{ article.image | img_url: 'medium'}}" alt="{{ article.image.alt }}">
                            {% else %}
                                {{ 'image' | placeholder_svg_tag: 'w-full h-80 object-cover bg-gray-100' }}
                            {% endif %}
                            <div class="flex flex-col p-3 h-full">
                                <h1 class="text-xl font-medium my-4">
                                    {{ article.title }}
                                </h1>
                                {% if article.excerpt.size > 0 %}
                                    <p>{{ article.excerpt | strip_html | truncatewords: 15, '...'}}</p>
                                {% else %}
                                    <p>{{ article.content | strip_html | truncatewords: 10, '...'}}</p>
                                {% endif %}

                                <a href="{{ article.url }}" class="font-medium text-blue-600 hover:blue-800 my-4 block mt-auto">{{ section.settings.blog_read_more }}
                                </a>
                            </div>

                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
        <div class="max-w-6xl mx-auto">
            {% render 'pagination', pagination: paginate %}
        </div>        
    {% endpaginate %}
</div>


{% schema %}

{
    "name": "Blog",
    "settings": [
        {
            "type": "range",
            "id": "number_of_blog_posts",
            "min": 3,
            "max": 12,
            "label": "Number of blog posts",
            "default": 3
        }, {
            "type": "text",
            "id": "blog_read_more",
            "label": "Read More Label",
            "default": "Read More"
        }
    ]
}

{% endschema %}