{% paginate blog.articles by section.settings.number_of_blog_posts %}
    {% for article in blog.articles %}
        <div class="t">
            {% if article.image != blank %}
                <img src="{{ article.image | img_url: 'medium'}}" alt="{{ article.image.alt }}">
            {% else %}
                {{ 'image' | placeholder_svg_tag: 'w-20' }}
            {% endif %}
            <h1>
                {{ article.title }}
            </h1>
            {% if article.excerpt.size > 0 %}
                {% else %}
                    <p>{{ article.content | strip_html | truncatewords: 10, '...'}}</p>
            {% endif %}
        </div>
    {% endfor %}
{% endpaginate %}


{% schema %}

{
    "name": "Blog",
    "settings": [
        {
            "type": "range",
            "id": "number_of_blog_posts",
            "min": 3,
            "max": 12,
            "label": "Number of blog posts",
            "default": 3
        }
    ]
}

{% endschema %}