{% layout none %}
<form action="{{ routes.cart_url }}" method="post">
	{% for item in cart.items %}
		<div class="cart-drawer-product p-4">
			<a href="{{ item.url }}">
				<img class="mx-auto" src="{{ item.image | image_url: width: 300 }}" alt="{{ item.image.alt }}">
				<h3>{{ item.title }}</h3>
				<p>{{ item.original_price | money }}</p>
			</a>
			<div class="cart-drawer-buttons">
				<button type="button" class="bg-white hover:bg-gray-100 text-gray-800 font-semibold py-2 px-4 border border-gray-400 rounded shadow">
					-
				</button>
				<input class="bg-white hover:bg-gray-100 text-gray-800 font-semibold py-2 px-4 border border-gray-400 rounded shadow w-12 text-center" type="text" name="quantity" value="{{ item.quantity }}">
				<button type="button" class="bg-white hover:bg-gray-100 text-gray-800 font-semibold py-2 px-4 border border-gray-400 rounded shadow">
					+
				</button>
			</div>
		</div>
		{% unless forloop.last %}
			<hr class="my-3">
		{% endunless %}
	{% endfor %}
</form>